In [35]:
# first import the dataset 
import pandas as pd 

df=pd.read_csv("spam.csv", encoding ='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [36]:
# second replacing columns names , deleting the usless columns and transforming spam or ham to binary values 0 or 1 
df['Target']= df['v1'].apply(lambda x:1 if x=='spam' else 0)
df = df.drop(['v1','Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis = 1)
df.rename(columns = {'v2':'Message'}, inplace = True)
df

                                                Message  Target
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5567  This is the 2nd time we have tried 2 contact u...       1
5568              Will Ì_ b going to esplanade fr home?       0
5569  Pity, * was in mood for that. So...any other s...       0
5570  The guy did some bitching but I acted like i'd...       0
5571                         Rofl. Its true to its name       0

[5572 rows x 2 columns]

In [42]:
#checking the shape of target we have spam more than ham  
df["Target"].value_counts()

0    4825
1     747
Name: Target, dtype: int64

In [45]:
#deleting the duplicated
df.drop_duplicates(subset='Message',inplace=True)
df = df.reset_index(drop=True)
df

                                                Message  Target
0     Go until jurong point, crazy.. Available only ...       0
1                         Ok lar... Joking wif u oni...       0
2     Free entry in 2 a wkly comp to win FA Cup fina...       1
3     U dun say so early hor... U c already then say...       0
4     Nah I don't think he goes to usf, he lives aro...       0
...                                                 ...     ...
5164  This is the 2nd time we have tried 2 contact u...       1
5165              Will Ì_ b going to esplanade fr home?       0
5166  Pity, * was in mood for that. So...any other s...       0
5167  The guy did some bitching but I acted like i'd...       0
5168                         Rofl. Its true to its name       0

[5169 rows x 2 columns]

In [47]:
#check if we have null values
df.isnull().sum()

Message    0
Target     0
dtype: int64

In [49]:
#split the model
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df.Message,df.Target,test_size=0.25,random_state=22)

In [60]:
#making a vecter from x_train 
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_train_count=v.fit_transform(X_train.values)
X_train_count.toarray()[:4]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [61]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train_count,Y_train)

MultinomialNB()

In [62]:
#predicting if email is ham or spam 
emails = [
    'hey Amine , can we get together and watch a movie',
    'upto 20% discount on parking , exclusive offer just for you.Dot miss this reward'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [63]:
#geting the accuracy of our model 
X_test_count=v.transform(X_test)
model.score(X_test_count,Y_test)

0.9853054911059551